[submodule "webvirtbackend"]
	path = webvirtbackend
	url = git@github.com:retspen/webvirtbackend.git
[submodule "webvirtfrontend"]
	path = webvirtfrontend
	url = git@github.com:retspen/webvirtfrontend.git
[submodule "hostvirtmgr"]
	path = hostvirtmgr
	url = git@github.com:retspen/hostvirtmgr.git
